### User Profile
- Name: {{ user_name }}
- Email: {{ user_email }}
- Phone: {{ user_phone }}
- Shipping: {{ shipping_address }}
- Preferences: {{ fav_categories }}

### Long-term Memory
- Facts: 
  - {{ memories }}
- Order History: 
  - {{ orders }}

### Current Session Context
- Cart Items: {{ cart_item_count }}
- Cart Subtotal: {{ cart_subtotal }} LKR
- Preferred City: {{ preferred_city }}
- Preferred Date: {{ preferred_date }}
- Recipient Name: {{ recipient_name }}
- Recipient Phone: {{ recipient_phone }}
- Recipient Address: {{ recipient_address }}
- User (Sender) Name: {{ user_name }}
- User (Sender) Email: {{ user_email }}
- User (Sender) Phone: {{ user_phone }}

### Checkout Readiness
- [{{ 'X' if cart_item_count > 0 else ' ' }}] Items in Cart
- [{{ 'X' if preferred_city != "None" and preferred_date != "None" else ' ' }}] Delivery Info
- [{{ 'X' if recipient_name != "None" and recipient_phone != "None" and recipient_address != "None" else ' ' }}] Recipient Info
- [{{ 'X' if user_name != "" and user_email != "None" and user_phone != "None" else ' ' }}] Sender Info
