# Build outputs
target/

# VCS and editor metadata
.git/
.github/
.vscode/
.idea/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo
*.bak
*.pid
tmp/
temp/

.env.*

# Documentation and non-source files
README.md
LICENSE*
docs/

# Docker and build tool configs
Dockerfile*
docker-compose*.yml
Makefile

nadunssh
*.pem
*.key
id_rsa
id_ed25519

.env
infra/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfplan
tfplan
!*.tfvars.example
**/.postman/**
