APP_NAME = "nadzu-be"
APP_HOST = "127.0.0.1"
APP_PORT = "8080"
APP_ENV = "development"

# DATABASE_HOST = "127.0.0.1"
# DATABASE_PORT = "5432"
# DATABASE_USER = "postgres"
# DATABASE_PASS =
# DATABASE_NAME = "cutedb"

# REDIS_URL = "redis://127.0.0.1:6379"

# CORS policy:
#   "none" or ""    -> disables CORS entirely
#   "*"             -> allows all origins (use ONLY for dev)
#   "https://domain.tld,https://sub.domain.tld" -> comma-separated allowed origins
ALLOWED_ORIGINS = "none"

RUST_LOG = "nadzu=debug,tower_http=info"
