### -------------------------
### Application Runtime / Local
### -------------------------
APP_NAME=REPLACE_WITH_APP_NAME
APP_HOST=REPLACE_WITH_APP_HOST
APP_PORT=REPLACE_WITH_APP_PORT
APP_ENV=REPLACE_WITH_APP_ENV
ALLOWED_ORIGINS=REPLACE_WITH_ALLOWED_ORIGINS
RUST_LOG=REPLACE_WITH_RUST_LOG
DOWNLOAD_DIR=REPLACE_WITH_DOWNLOAD_DIR
YTDLP_PATH=REPLACE_WITH_YTDLP_PATH
YTDLP_EXTERNAL_DOWNLOADER=REPLACE_WITH_YTDLP_EXTERNAL_DOWNLOADER
YTDLP_EXTERNAL_DOWNLOADER_ARGS=REPLACE_WITH_YTDLP_EXTERNAL_DOWNLOADER_ARGS
CAPTCHA_SECRET_KEY=REPLACE_WITH_CAPTCHA_SECRET_KEY
MAX_CONCURRENT_DOWNLOADS=REPLACE_WITH_MAX_CONCURRENT_DOWNLOADS
MASTER_API_KEY=REPLACE_WITH_MASTER_API_KEY
GITHUB_PAT=REPLACE_WITH_GITHUB_PAT
GITHUB_USERNAME=REPLACE_WITH_GITHUB_USERNAME
GITHUB_GRAPHQL_URL=https://api.github.com/graphql
WARP_LICENSE_KEY=REPLACE_WITH_WARP_LICENSE_KEY

### -------------------------
### Terraform / Infra - If you need to deploy
### -------------------------
AWS_ACCESS_KEY_ID=REPLACE_WITH_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=REPLACE_WITH_AWS_SECRET_ACCESS_KEY
AWS_ENDPOINT_URL_S3=https://REPLACE_WITH_R2_ACCOUNT_ID.r2.cloudflarestorage.com
AWS_S3_BUCKET_NAME=REPLACE_WITH_AWS_S3_BUCKET_NAME
# Terraform provider secrets
TF_VAR_DO_TOKEN=REPLACE_WITH_DIGITALOCEAN_TOKEN
TF_VAR_CLOUDFLARE_API_TOKEN=REPLACE_WITH_CLOUDFLARE_API_TOKEN
# Production DOCKER registry credentials (GHCR)
TF_VAR_GHCR_PAT=REPLACE_WITH_GHCR_PAT
TF_VAR_GITHUB_USERNAME=REPLACE_WITH_GITHUB_USERNAME
# ENV values to pass to Production
TF_VAR_APP_ENV=REPLACE_WITH_TF_VAR_APP_ENV
TF_VAR_CAPTCHA_SECRET_KEY=REPLACE_WITH_TF_VAR_CAPTCHA_SECRET_KEY
TF_VAR_APP_PORT=REPLACE_WITH_TF_VAR_APP_PORT
TF_VAR_HOST_PORT=REPLACE_WITH_TF_VAR_HOST_PORT
TF_VAR_APP_NAME=REPLACE_WITH_TF_VAR_APP_NAME
TF_VAR_ALLOWED_ORIGINS=REPLACE_WITH_TF_VAR_ALLOWED_ORIGINS
TF_VAR_RUST_LOG=REPLACE_WITH_TF_VAR_RUST_LOG
TF_VAR_MAX_CONCURRENT_DOWNLOADS=REPLACE_WITH_TF_VAR_MAX_CONCURRENT_DOWNLOADS
TF_VAR_APP_HOST=REPLACE_WITH_TF_VAR_APP_HOST
TF_VAR_YTDLP_PATH=REPLACE_WITH_TF_VAR_YTDLP_PATH
TF_VAR_DOWNLOAD_DIR=REPLACE_WITH_TF_VAR_DOWNLOAD_DIR
TF_VAR_MASTER_API_KEY=REPLACE_WITH_TF_VAR_MASTER_API_KEY
TF_VAR_WARP_LICENSE_KEY=REPLACE_WITH_TF_VAR_WARP_LICENSE_KEY
