{
servers {
	protocols h1
	# note : pass trusted proxies as SPACE separated list of CIDR blocks
	trusted_proxies static ${CADDY_CLOUDFLARE_TRUSTED_PROXIES}
	trusted_proxies_strict
	client_ip_headers CF-Connecting-IP X-Forwarded-For
}
}

:80 {
redir https://${PRODUCTION_DOMAIN}{uri}
}

${PRODUCTION_DOMAIN}:443 {
tls /etc/caddy/certs/${PRODUCTION_DOMAIN}.pem /etc/caddy/certs/${PRODUCTION_DOMAIN}.key

route /nadun/fs/* {
	@blocked {
	path /nadun/fs/*
	# note: Only Allow MY Personal VPN IP
	not client_ip ${SSH_ALLOWED_IPS}
	}
	respond @blocked "Forbidden" 403

	uri strip_prefix /nadun/fs

	@mp4 path *.mp4
	header @mp4 {
	Content-Type "video/mp4"
	Content-Disposition "inline"
	Access-Control-Allow-Origin "*"
	}

	file_server browse {
	root /home/app/downloads
	}
}

reverse_proxy app:${APP_PORT} {
	header_up Host {host}
	transport http {
	versions 1.1
	}
}
}