PROJECT_NAME          = "<PROJECT_NAME>"
ENVIRONMENT           = "<ENVIRONMENT>"
REGION                = "<REGION>"
DROPLET_NAME          = "<DROPLET_NAME>"
DROPLET_SIZE          = "<DROPLET_SIZE>"
DROPLET_IMAGE         = "<DROPLET_IMAGE>"
VOLUME_NAME           = "<VOLUME_NAME>"
VOLUME_SIZE_GIB       = "<VOLUME_SIZE_IN_GIGS>"
GHCR_IMAGE            = "<GHCR_IMAGE>"


GITHUB_USERNAME       = "<GITHUB_USERNAME>"

APP_PORT              = 0
DOWNLOADS_MOUNT_PATH  = "<DOWNLOADS_MOUNT_PATH>"
DOCKER_RESTART_POLICY = "<DOCKER_RESTART_POLICY>"
DOCKER_CONTAINER_NAME = "<DOCKER_CONTAINER_NAME>"

CLOUDFLARE_ZONE_NAME      = "<CLOUDFLARE_ZONE_NAME>"
CLOUDFLARE_RECORD_NAME    = "<CLOUDFLARE_RECORD_NAME>"
CLOUDFLARE_RECORD_PROXIED = true

SSH_ALLOWED_IPS = ["<YOUR_VPN_IP>"]
